.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Age-label {
  margin-top: 10px;
  margin-bottom: 30px;
}

.inputSearch{
  width: 500px;
  padding: 20px;
  font-size: 20px;
}

.btnSearch{
  padding: 20px;
  background: blue;
  color: white;
  font-size:20px;
  cursor: pointer;
}

button {
  margin-left: 10px;
  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}

.imageContainer{
  display: inline-block;
  margin: 20px;
}

.imageContainer:hover{
  cursor: pointer;
}